*.class

# Package Files #
*.jar
*.war
*.ear

#Ignore all
/*

#Don't ignore
!.getignore
!README.md
!auto-commit.sh
!auto-commit.cmd
!/mcp
!/.idea

#Ignore All in mcp
/mcp/*

#Don't Ignore src
!/mcp/src

#Ignore
/mcp/src/minecraft/*

!/mcp/src/minecraft/mods
!/mcp/src/minecraft/assets
!/mcp/src/minecraft/mcmod.info

#Don't Ignore Custom Flags Src
!/**/custom_flags

#Not planning on having any assets/images (Personal Challange) But don't ignore it either if I change the plan
!/mcp/src/minecraft/assets/*
!/mcp/src/minecraft/assets/*/


!*.iml
